body{
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  nav{
    text-align: center;
  }
  li {
    display: inline;
  }
div{
    text-align: center;
}